---
layout: nhse_default
---
<!-- top banner  -->

{% include top_banner.html %}
<div class="top-banner">
  <div class="grid inner-container">
    <h1>
      revealing the products and projects using <br /> <span class="title-highlight">healthcare open data</span> to make an impact
    </h1>
  </div>
</div>
<div class="outer-main-container">
  <div class="main-container">
    <form class="form-search">
      <div class="desk--one-tenth grid__item"></div><!--
      --><div class="form-element"><select data-bind="value: filterTag, optionsCaption: 'Filter by tag', options: tags, select2: { placeholder: 'Filter by tag', allowClear: true}" class="select2"></select></div><!--
      --><div class="form-element"><select data-bind="value: filterOrg, optionsCaption: 'Filter by organisation', options: authors, select2: { placeholder: 'Filter by organisation', allowClear: true}" class="select2"></select></div>
    </form>
  </div>
</div>
<div class="grid-description">
  <div data-bind="if: displayedItems().length === items().length" class="grid-description-title">Showing all <span data-bind="text: filteredItems().length"></span> projects</div>
  <div data-bind="if: displayedItems().length !== items().length" class="grid-description-title">Showing <span data-bind="text: displayedItems().length"></span> out of <span data-bind="text: items().length"></span>  projects</div>
  <hr class="left">
  <hr class="right">
</div>
<div class="main-container">
  <div class="project-grid-outer-container">
    <div data-bind="foreach: displayedItems" class="project-grid-inner-container grid"><div class="project-element-outer-container"><a data-bind="attr: { href: url }" class="project-element">
        <div class="bg" data-bind="style: { backgroundImage: 'url(\'' + img + '\')' }"></div>
        <div class="project-element-text">
          <p class="org-name" data-bind="text: title" ></p>
          <p class="project-name" data-bind="text: author" ></p>
        </div>
    </a></div></div>
  </div>

  <nav data-bind="if: $root.numPages() > 1" style="text-align: center">
    <ul class="main-pagination">
        <li>
            <a href="#" data-bind="click: function(){ pageNumber(pageNumber() - 1)}, css: {disabled: pageNumber() === 0}">previous</a>
        </li>
        <!-- ko foreach: pagesArray -->
        <li><a href="#" data-bind="click: function(){ $root.pageNumber($index()) }, css: {active: $index() === $root.pageNumber()}">
          <span data-bind="text: $index() + 1"></span>
        </a></li>
        <!-- /ko -->
        <li>
            <a href="#" data-bind="click: function(){ pageNumber(pageNumber() + 1)}, css: {disabled: pageNumber() === ($root.pagesArray().length - 1)}">next</a>
        </li>
    </ul>
  </nav>
</div>
<script>

  ko.bindingHandlers.select2 = {
      init: function(el, valueAccessor, allBindingsAccessor, viewModel) {
        ko.utils.domNodeDisposal.addDisposeCallback(el, function() {
          $(el).select2('destroy');
        });

        var allBindings = allBindingsAccessor(),
            select2 = ko.utils.unwrapObservable(allBindings.select2);

        $(el).select2(select2);
      },
      update: function (el, valueAccessor, allBindingsAccessor, viewModel) {
          var allBindings = allBindingsAccessor();

          if ("value" in allBindings) {
              if ((allBindings.select2.multiple || el.multiple) && allBindings.value().constructor != Array) {
                  $(el).val(allBindings.value().split(',')).trigger('change');
              }
              else {
                  $(el).val(allBindings.value()).trigger('change');
              }
          } else if ("selectedOptions" in allBindings) {
              var converted = [];
              var textAccessor = function(value) { return value; };
              if ("optionsText" in allBindings) {
                  textAccessor = function(value) {
                      var valueAccessor = function (item) { return item; }
                      if ("optionsValue" in allBindings) {
                          valueAccessor = function (item) { return item[allBindings.optionsValue]; }
                      }
                      var items = $.grep(allBindings.options(), function (e) { return valueAccessor(e) == value});
                      if (items.length == 0 || items.length > 1) {
                          return "UNKNOWN";
                      }
                      return items[0][allBindings.optionsText];
                  }
              }
              $.each(allBindings.selectedOptions(), function (key, value) {
                  converted.push({id: value, text: textAccessor(value)});
              });

              $(el).select2("data", converted);
          }
      }
  };

  var json = [
  {% for post in site.posts %}
      {
        "title"   : "{{ post.title }}",
        "author"  : "{{ post.author }}",
        "url"     : "{{ post.url | prepend: site.baseurl }}",
        "img"     : "{{ post.imageurl }}",
        "tags"    : [{% for tag in post.tags %}"{{ tag }}"{% if forloop.last %}{% else %},{% endif %}{% endfor %}]
      } {% if forloop.last %}{% else %},{% endif %}
  {% endfor %}
  ]

  function getQueryVariable(variable)
  {
         var query = window.location.search.substring(1);
         var vars = query.split("&");
         for (var i=0;i<vars.length;i++) {
                 var pair = vars[i].split("=");
                 if(pair[0] == variable){return decodeURIComponent(pair[1]);}
         }
         return(false);
  }

  var AppViewModel = function(){
      var self = this;
      /*
        pagination will be done in blocks of 9
      */
      var paginationAmount = 9;
      this.items = ko.observableArray(json);
      this.currentFilter = ko.observable();
      this.pageNumber = ko.observable(0);
      this.tags = ko.observableArray([]);
      this.authors = ko.observableArray([]);
      this.filterTag = ko.observable(getQueryVariable("tag"));
      this.filterOrg = ko.observable(getQueryVariable("org"));

      _.each(json, function(row){
          self.tags(_.uniq(self.tags().concat(row.tags)));
          var authors = self.authors();
          authors.push(row.author);
          self.authors(_.uniq(authors));
      });

      this.tagFilters = ko.observableArray(_.map(this.tags(), function(x, i){
          return {name: x, id: i}
      }));

      this.filteredItems = ko.computed(function() {
          var possibleItems = self.items();

          if(self.filterTag()){
              possibleItems = _.filter(possibleItems, function(x){
                  return x.tags.indexOf(self.filterTag()) != -1;
              });
          }

          if(self.filterOrg()){
              possibleItems = _.filter(possibleItems, function(x){
                  return x.author === self.filterOrg();
              });
          }

          if(!self.currentFilter() || !self.currentFilter().length){
              return possibleItems;
          } else {
              return ko.utils.arrayFilter(possibleItems, function(prod) {
                  return prod.title.toLowerCase().indexOf(self.currentFilter().toLowerCase()) !== -1
              });
          }
      });

      this.numPages = ko.computed(function(){
          return Math.ceil(self.filteredItems().length/paginationAmount);
      });

      this.displayedItems = ko.computed(function(){
          var a = self.pageNumber()*paginationAmount;
          return self.filteredItems().slice(a, a + paginationAmount)
      });

      this.pagesArray = ko.computed(function(){ return new Array(self.numPages()) });
  }

  var mpv = new AppViewModel();
  window.mpv = mpv;
  ko.applyBindings(mpv);
</script>
