---
layout: mikes_layout
---
<!-- top banner  -->
<div class="top-banner">
  <div class="grid inner-container">
    <div class="grid__item one-third">
      Open Health Data<br />Project Showcase
    </div><div class="grid__item one-third"></div><!--
    --><div class="grid__item one-third" style="text-align: right">
      <img style="height: 54px" src="https://data.england.nhs.uk/images/nhsengland_logo.png" alt="NHS England Data Catalogue Logo" title="NHS England Data Catalogue Logo" data-intro="Clicking on this logo will always take you back to the homepage (just in case you get lost).">
    </div>
  </div>
  <div class="grid inner-container">
    <h1>
      revealing the products and projects using <strong>healthcare open data</strong> to make an impact
    </h1>
  </div>
</div>
<div class="main-container">
  <form class="form-search" style="margin-top: 20px">
    <div class="form-element"><input data-bind="value: currentFilter, valueUpdate: 'afterkeydown'" type="text"></input></div><!--
    --><div class="form-element"><select>
      <option>find stuff</option>
    </select></div><!--
    --><div class="form-element"><select class="select-box">
      <option>find other stuff</option>
    </select></div><!--
    --><div class="form-btn"><a class="btn btn-primary" href="">SEARCH</a></div>
  </form>
  <div class="inner-container" style="margin-top: 30px; text-align: center; font-weight: 500; margin-bottom: 30px">
    Showing all <span data-bind="text: filteredItems().length"></span> projects
  </div>
  <div class="project-grid-outer-container">
    <div data-bind="foreach: filteredItems" class="project-grid-inner-container grid"><div class="project-element-outer-container"><a data-bind="style: { backgroundImage: 'url(\'' + img + '\')' }, attr: { href: url }" class="project-element">
        <div data-bind="text: title" class="project-element-text">
          Prescribing Analytics
        </div>
    </a></div></div>
  </div>
</div>
<div class="footer">
  <div class="grid">
    <div class="grid__item desk--one-third text-centre">
      <p>Get the data for this search</p>
      <a class="btn btn-primary">DOWNLOAD JSON</a>
    </div><div class="grid__item desk--one-third text-centre">
      <p>Subscribe to updates for this search</p>
      <a class="btn btn-primary">SUBSCRIBE FOR THIS SEARCH</a>
    </div><div class="grid__item desk--one-third text-centre">
      <p>Download all our data</p>
    </div>
  </div>
</div>
<div class="base-footer"></div>
<script>
  {{ site.posts | jsonify }}
  var json = [
  {% for post in site.posts %}
      {
        "title"    : "{{ post.title }}",
        "url"     : "{{ post.url | prepend: site.baseurl }}",
        "img"     : "{{ post.imageurl }}"
      } {% if forloop.last %}{% else %},{% endif %}
  {% endfor %}
  ]

  var AppViewModel = function(){
      var self = this;
      this.items = ko.observableArray(json);
      this.currentFilter = ko.observable();
      this.filteredItems = ko.computed(function() {
          if(!self.currentFilter() || !self.currentFilter().length){
              return self.items();
          } else {
              return ko.utils.arrayFilter(self.items(), function(prod) {
                  return prod.title.toLowerCase().indexOf(self.currentFilter().toLowerCase()) !== -1
              });
          }
      });
  }

  var mpv = new AppViewModel();
  ko.applyBindings(mpv);
</script>
