<div class="footer">
  <div class="project-grid-outer-container">
    <div class="grid__item desk--one-third text-centre">
      <i class="icon download"></i>
      <p><b>Download Data</b></p>
      <p>Get all of the information on this site as Open Data</p>
      <a class="">Download</a>
    </div><div class="grid__item desk--one-third text-centre">
      <i class="icon feedback"></i>
      <p><b>Give us feedback</b></p>
      <p>Got ideas or suggestions? <br />Get in touch<p/>
      <a class="">Feedback</a>
    </div><div class="grid__item desk--one-third text-centre">
      <i class="icon submit"></i>
      <p><b>Submit your project</b></p>
      <p>Have you worked on a relevant project? Let us know</p>
      <a href="">Submit</a>
    </div>
  </div>
</div>
