<div class="footer">
  <div class="grid">
    <div class="grid__item desk--one-third text-centre">
      <i class="icon download"></i>
      <p>Get the data for this search</p>
      <a class="btn btn-primary">DOWNLOAD JSON</a>
    </div><div class="grid__item desk--one-third text-centre">
      <i class="icon feedback"></i>
      <p>Subscribe to updates for this search</p>
      <a class="btn btn-primary">SUBSCRIBE FOR THIS SEARCH</a>
    </div><div class="grid__item desk--one-third text-centre">
      <i class="icon submit"></i>
      <p>Download all our data</p>
    </div>
  </div>
</div>
