<div class="container">
  <div class="row">
    <footer class="pre-footer span12">
      <ul class="nav nav-pills  pull-left">
	<li>
	  &copy; NHS England 2016
	</li>

	<li>
	  <a href="http://www.england.nhs.uk/terms-and-conditions/">Terms &amp; Conditions</a>
	</li>
	<li>
	  <a href="http://www.england.nhs.uk/privacy-policy/">Privacy &amp; Cookies</a>
	</li>
	<li>
	  <a href="http://www.england.nhs.uk/comment-policy/">Social Media &amp; Comment Moderation</a>
	</li>
	<li>
	  <a href="http://www.england.nhs.uk/accessibility/">Accessibility</a>
	</li>
      </ul>
    </footer>
  </div>
</div>

<footer class="site-footer">
  <div class="container">

    <h2>
      <h2>NHS England Open Data Directory</h2>
    </h2>

  </div>
</footer>
