<div class="footer">
  <div class="project-grid-outer-container">
    <div class="grid__item desk--one-third text-centre">
      <i class="icon download"></i>
      <p><b>Download Data</b></p>
      <p>Get all of the information on this site as Open Data</p>
      <a class="" href="https://data.england.nhs/dataset/datadirectory">Download</a>
    </div><div class="grid__item desk--one-third text-centre">
      <i class="icon feedback"></i>
      <p><b>Give us feedback</b></p>
      <p>Got ideas or suggestions? <br />Get in touch<p/>
      <a class="">Feedback</a>
    </div><div class="grid__item desk--one-third text-centre">
      <i class="icon submit"></i>
      <p><b>Submit your project</b></p>
      <p>Have you worked on a relevant project? Let us know</p>
      <a href="/datadirectory/add/">Submit</a>
    </div>
  </div>
</div>
<div class="base-footer">
  <div class="project-grid-outer-container spaced">
    <div class="grid">
      <div class="grid__item desk--one-third">
      <h5>pages</h5>
      <a href="/datadirectory/">Home</a>
      <i class="fa fa-circle" aria-hidden="true"></i>
      <a href="/datadirectory/about/">About this site</a>
      </ul>
      </div><div class="grid__item desk--one-third">
        <h5>More</h5>
        <a href="https://data.england.nhs.uk">Data Catalogue</a>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <a href="https://github.com/nhsengland/datadirectory">Code on GitHub</a>
      </div>
    </div>
  </div>
  <div class="project-grid-outer-container">
    <div class="grid">
      <div class="grid__item desk--one-third small-links">
          <a href="http://www.england.nhs.uk/terms-and-conditions/">Terms & Conditions</a>
          <i class="fa fa-circle" aria-hidden="true"></i><a href="https://www.england.nhs.uk/privacy-policy/">Privacy & Cookies</a>
      </div>
    </div>
  </div>
</div>
