<header class="super-masthead">
  <div class="container">
    <hgroup class="header-strapline">
      <h1>
        <h2>Health Data Directory</h2>
      </h1>
    </hgroup>
    <hgroup class="header-image">
      <a class="logo" href="http://www.england.nhs.uk">
        <img src="https://data.england.nhs.uk/images/nhsengland_logo.png"
             alt="NHS England Data Catalogue Logo"
             title="NHS England Data Catalogue Logo"
             />

      </a>
    </hgroup>
  </div>
</header>


<header class="account-masthead" >
  <div class="container">
    <nav class="section navigation" >
      <ul class="nav nav-pills pull-left">
        <li><a href="https://data.england.nhs.uk">Data Catalogue</a></li>
        <li><a href="/">Data Directory</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </div>
</header>
