/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

*{
  box-sizing: border-box;
}


/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-colour;
    background-color: $background-colour;
    -webkit-text-size-adjust: 100%;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

p{
  margin-bottom: 30px;
}

h1{
    line-height: 1.1;
    font-family: Sini, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 46px;
    font-weight: 300;
    margin-top: 5px;
    padding-bottom: 40px;

    @include grid-media-query(palm) {
        font-size: 30px;
    }
}

.align-right{
    text-align: right;
}

a:link, a:visited {
    color: $primary-colour;
    text-decoration: underline;
}
    
a:focus, a:active, a:hover {
    text-decoration: none;
}

.main-content ul, .main-content ol {
    margin-left: 1em;
}
