.banner-link, .banner-link:hover{
   @include link-colour($white);
   text-decoration: none;
   font-size: 22px;
   line-height: 1;

   @include grid-media-query(palm) {
      font-size: 16px;
      line-height: 1;
   }
}

body #zenbox_tab{
    top: 40%;

    @include grid-media-query(portable) {
        display: none !important;
    }
}

.inner-container{
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 10px);

    @include grid-media-query(desk) {
      max-width: 1000px;
    }
}

.project-grid-outer-container{
    @extend .inner-container;
}

.project-element-outer-container{
    @extend .grid__item;
    @extend .desk--one-third;
    @extend .lap--one-half;
}

.logo{
    float: right;
    height: 45px;
    width: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/datadirectory/assets/imgs/logo-white.svg");
}

.no-svg .logo{
    background-image: url("/datadirectory/assets/imgs/logo-white.png");
}

.project-grid-inner-container{
    -webkit-transition: all 0.3s ease; /* Safari and Chrome */
    -moz-transition: all 0.3s ease; /* Firefox */
    -ms-transition: all 0.3s ease; /* IE 9 */
    -o-transition: all 0.3s ease; /* Opera */
    transition: all 0.3s ease;
}

.org-name{
      font-size: 10px;
      line-height: 12px;
      color: $white;
      text-transform: uppercase;
      margin-bottom: 0;
}

.project-name{
      font-size: 14px;
      line-height: 1;
      color: $white;
      margin-bottom: 0;
}

.grid-description{
    position: relative;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 24px;
    .grid-description-title{
        font-size: 18px;
        z-index: 20;
        position: relative;
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        background-color: $background-colour;
    }

    hr{
        position: absolute;
        top: 14px;
        left: 0;
        z-index: 1;
        width: 100%;
        margin: 0;
        padding: 0;
        border-top: 1px solid $rule-colour;
        border-bottom: none;
    }
}

.project-element{
    min-height: 250px;
    position: relative;
    background-color: $primary-colour;
    background-position: center;
    display: block;
    overflow: hidden;
    margin-bottom: 20px;

    .bg{
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      height: calc(100% - 50px);
      width: 100%;
      -webkit-transition: all 1s ease; /* Safari and Chrome */
      -moz-transition: all 1s ease; /* Firefox */
      -ms-transition: all 1s ease; /* IE 9 */
      -o-transition: all 1s ease; /* Opera */
      transition: all 1s ease;
      backface-visibility: hidden;
      transform: translateZ(0);
      -webkit-transform: translateZ(0);
      height: 100%;
      position: absolute;
      top: 0;
      filter: none;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &:hover .bg{
      -webkit-transform:scale(1.02); /* Safari and Chrome */
      -moz-transform:scale(1.02); /* Firefox */
      -ms-transform:scale(1.02); /* IE 9 */
      -o-transform:scale(1.02); /* Opera */
       transform:scale(1.02);
    }
}

.project-element-text{
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 20px;
    width: 100%;
    color: $white;
}

.project-element-outer-container:nth-child(4n) .project-element-text{
    background-color: $primary-colour;
}

.project-element-outer-container:nth-child(4n+1) .project-element-text{
    background-color: $nhs-light-blue;
}

.project-element-outer-container:nth-child(4n+2) .project-element-text{
    background-color: $nhs-aqua-blue;
}

.project-element-outer-container:nth-child(4n+3) .project-element-text{
    background-color: $nhs-dark-blue;
}

.top-banner{
    background-color: $primary-colour;
    color: $white;
    margin-top: 0;
    padding-top: 18px;
    padding-bottom: 18px;
}

h1{
    font-family: Sini, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    margin-top: 5px;
    padding-bottom: 40px;
}

.top-banner h1 {
   padding: 8px 0 42px;
}

h2{
    font-family: Sini, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    color: $primary-colour;
    padding-top: 40px;
    margin-top: 0;
}

.page-side-bar{
    h5{
      display: block;
      font-weight: 600;
      margin-top: 30px;
    }
    font-size: $base-font-size * 0.9;
    color: #666;
}

.post-header{
      a, h5{
        color: $nhs-aqua-blue;
        text-align: center;
        font-weight: 200;
        margin: -14px 0 24px;
      }
}

.tags-header{
    border-top: 1px solid $rule-colour;
    border-bottom: 1px solid $rule-colour;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 30px;
}

.outer-main-container{
    position: relative;
}

.main-container{
    @extend .inner-container;

}

.title-highlight{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $secondary-colour;
}

.main-container::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 83px;
    content: " ";
    z-index: -1;
    @include gradient;
}

.form-btn{
  @extend .desk--one-tenth;
  @extend .grid__item;
  padding: 0;
  text-align: center;
}

.tag{
  @include button-spacing;
  background-color: $light-blue;

  &:hover{
    background-color: darken($light-blue, 5%);
  }
  margin-right: 10px;
  font-weight: 400;
  padding: 0 15px;
  font-size: 14px;
  height: $line-height;
  @include link-colour($text-colour);
}

.btn{
  font-size: 12px;
  font-weight: 200;
  margin: 0px;
  @include button-spacing;
  text-transform: uppercase;
  padding: 0 12px;
  background-color: $secondary-colour;
  letter-spacing: 1px;
  @include link-colour($white);

  &:hover{
    background-color: darken($secondary-colour, 5%);
  }

  &.btn-lg{
    padding: 0 24px;
    font-size: 14px;
    height: 40px;
    line-height: 38px;
  }
}

.btn-primary{
    height: $line-height;
}

.btn.btn-search{
    height: $line-height * 1.15;
    padding-top: 2px;
}

.text-centre{
    text-align: center;
}

.footer{
    background-color: $light-blue;
    min-height: 100px;
    padding: 40px 0 52px;
    margin-top: 30px;

    p{
      margin-bottom: 0;
    }

    .btn{
      margin-top: 10px;
    }
}

.base-footer{
    background-color: $primary-colour;
    min-height: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    color: $white;
    font-size: 16px;

    h5{
      font-weight: 600;
      text-transform: capitalize;
      font-size: 16px;
    }

    a{
        color: $white;
        text-decoration: underline;
        display: inline-block;
    }
    i{
        font-size: 6px;
        margin-bottom: 3px;
        vertical-align: middle;
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
    }

    #legal {
       padding-top: 24px;
    }

    .small-links{
        font-size: 14px;
        margin-bottom: 80px;
    }
}

.spaced{
    margin-bottom: 40px;
}

hr{
    border-top: 1px solid #a2a2a2;
    margin-bottom: 30px;
}

i.icon{
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

i.download{
    background-image: url("/datadirectory/assets/imgs/icon-download-purple.svg");
}

.no-svg i.download{
    background-image: url("/datadirectory/assets/imgs/icon-download-purple.png");
}

i.submit{
    background-image: url("/datadirectory/assets/imgs/icon-submit-purple.svg");
}

.no-svg i.submit{
    background-image: url("/datadirectory/assets/imgs/icon-submit-purple.png");
}

i.feedback{
    background-image: url("/datadirectory/assets/imgs/icon-feedback-purple.svg");
}

.no-svg i.submit{
    background-image: url("/datadirectory/assets/imgs/icon-feedback-purple.png");
}


.main-pagination{

    ul {
       padding: 24px 0 36px;
    }

    li{
        font-size: 14px;
        font-weight: bold;
        list-style: none;
        display: inline-block;
        margin-left: 2.5px;
        margin-right: 2.5px;
        cursor: pointer;
    }
    li a{
        padding: 6px 10px;
        background-color: $background-colour;
        color: $primary-colour;
        text-decoration: none;
        border: 1px solid $light-grey;
        transition: all 0.2s;
    }

    li a:hover:not(.disabled){
        background-color: $light-blue;
        color: $primary-colour;
    }

    li a.active:hover:not(.disabled){
        background-color: darken($primary-colour, 10%);
        color: $white;
    }

    li a.active{
        background-color: $primary-colour;
        border: 1px solid $primary-colour;
        color: $white;
    }

    li a.disabled{
        color: $light-grey;
    }
}


.success-btn{
  margin-top: 27px;
  margin-bottom: 100px;
}
