---
layout: nhse_default
---
{% include top_banner.html %}
<div class="outer-main-container">
  <div class="main-container">
    <div class="post-header">
      <h2>
        {{ page.title }}
      </h2>
      <h5>
          <em>by</em> {{ page.author }}
      </h5>
    </div>
    <div class="tags-header">
      <div class="grid">
        <div data-bind="foreach: tags" class="grid__item three-quarters palm--one-half">
        <a class="tag" data-bind="attr: {href: url}, text: name"></a>
      </div><div class="grid__item one-quarter palm--one-half align-right">
          <a href="{{ page.external_link }}" class="btn btn-primary" target="_blank">FIND OUT MORE</a>
        </div>
      </div>
    </div>
    <div class="main-body">
      <div class="grid">
        <div class="grid__item two-thirds palm--one-whole">
          <h4>Introduction</h4>
          {{ page.description | markdownify }}
          {% if page.impact != "" %}
            <h4>Impact</h4>
            {{ page.impact | markdownify }}
          {% endif %}
          {% if page.datasets != "" %}
          <h4>Datasets Used</h4>
          {{ page.datasets | markdownify }}
          {% endif %}
        </div><div class="grid__item one-third palm--one-whole page-side-bar">
          <img src="{{ page.imageurl }}">
          <h5>More about {{ page.author }}</h5>
          {{ page.orgdescription }}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var tagNames = [{% for tag in page.tags %}"{{ tag }}"{% if forloop.last %}{% else %},{% endif %}{% endfor %}]
  var urls = _.map(tagNames, function(tag){ return "/datadirectory/?tag=" + encodeURIComponent(tag)});
  var tags = [];

  _.each(tagNames, function(tagName, index){
      tags.push({name: tagName, url: urls[index]});
  });
  var mpv = {tags: tags};
  ko.applyBindings(mpv);
  window.mpv = mpv;
</script>
