---
layout: nhse_default
---
{% include top_banner.html %}
<div class="main-container">
  <div class="post-header">
    <h2>
      {{ page.title }}
    </h2>
    <h5>
        <em>by</em> {{ page.author }}
    </h5>
  </div>
  <div class="tags-header">
    <div class="grid__item three-quarters">
    {% for tag in page.tags %}<a class="tag" href="">{{ tag }}</a>{% endfor %}
    </div><div class="grid__item one-quarter">
      <a href="" class="btn btn-primary">FIND OUT MORE</a>
    </div>
  </div>
  <div class="main-body">
    <div class="grid__item two-thirds">
      <h4>Introduction</h4>
      <p>
      {{ page.description }}
      </p>
      {% if page.impact %}
        <h4>Impact</h4>
        <p>
          {{ page.impact }}
        </p>
      {% endif %}
      <h4>Datasets Used</h4>
      <p>
        {{ page.datasets }}
      </p>
    </div><div class="grid__item one-third page-side-bar">
      <img src="{{ page.imageurl }}">
      <h5>More about {{ page.author }}</h5>
      {{ page.orgdescription }}
    </div>
</div>
